@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestWebAPI.Pages.IndexModel
@{
    ViewData["Title"] = "Covid-19 LineChart";
}

<form method="post" asp-antiforgery="true">
    <p>
        <input type="date" min="@Model.minDate.ToString("yyyy-MM-dd")" max="@Model.maxDate_from.ToString("yyyy-MM-dd")" value="@Model.maxDate_from.ToString("yyyy-MM-dd")" asp-for=requestData.date_from />

        <input type="date" min="@Model.minDate.ToString("yyyy-MM-dd")" max="@Model.maxDate_to.ToString("yyyy-MM-dd")" value="@Model.maxDate_to.ToString("yyyy-MM-dd")" asp-for=requestData.date_to />
    </p>
    <p>
        <select asp-for="requestData.Country">
            <option>Choose country please...</option>
            @if(Model.Countries != null)
            {
                foreach(var country in Model.Countries)
                {
                    <option>@country.Name</option>
                }
            }
         </select>
    </p>    
    <input type="submit" value="Отправить" />
</form>

<div id="chart_placeholder">
  <label>Данные о Covid-19 по стране - @Model.Country </label>
  <canvas id="myChart" width="60" height="30"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var dateLabels = @Json.Serialize(@Model.DateLabels);
  var confirmData = @Json.Serialize(@Model.Confirmed);
  var recoveredData = @Json.Serialize(@Model.Recovered);
  var dethsData = @Json.Serialize(@Model.Deaths);

  const data = {
    labels: dateLabels,
    datasets: [{
      label: 'Зарегистрировано случаев',
      backgroundColor: 'rgb(73, 115, 222)',
      borderColor: 'rgb(62, 89, 158)',
      data: confirmData,
    },
    {
      label: 'Вылечено',
      backgroundColor: 'rgb(69, 217, 74)',
      borderColor: 'rgb(51, 135, 54)',
      data: recoveredData,
    },
    {
      label: 'Кол-во умерших',
      backgroundColor: 'rgb(217, 69, 69)',
      borderColor: 'rgb(163, 59, 59)',
      data: dethsData,
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config,
  );
</script>
